.nav_buttons {
    display: inline; 
    padding: center;
    background-color: hotpink;
    height: 64px;
}

#nav {
    background-color: gray;
}
#left {
    float: left;
    width: 29%;
    height: 1000px;
    background-color: rgb(155, 234, 248);
}
#right {
    float: right;
    width: 71%;
    height: 1000px;
    background-color: #943636;
}
#top {
    background-color: cornflowerblue;
    height: 250px;
}
#bottom {
    background-color: dodgerblue;
    height: 750px;
}