.nav_buttons {
    display: inline; 
    padding: center;
    background-color: #ffffff;
}

#nav {
    background-color: gray;
    height: 40px;
    padding: 8px;
}
#left {
    float: left;
    width: 29%;
    height: 1000px;
    background-color:#ffffff;
}
#right {
    float: right;
    width: 71%;
    height: 1000px;
    background-color: #ffffff;
}
#top {
    background-color: cornflowerblue;
    height: 250px;
}
#bottom {
    background-color: dodgerblue;
    height: 750px;
}
#main {
    padding: 32px;
    display: inline
}
#image_cards {
    padding: 32px;
}
.picture {
    padding: 32px;
}